<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC1A2EF32ED4B2BA00633CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1A2F032ED4B2BD00633CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1A2F0D2ED4B2BD00633CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
